<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">

    <link rel = "stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>headers}}
    <p>this page was created by omar ahmed. it fetechs the weather</p>
    <img class="protrait" src="https://www.cairowestmag.com/wp-content/uploads/2017/08/MG_6413-copy.jpg" width="100px">
    </div>
    {{>footer}}
</body>
</html>